# **Appendix**

# Q1) Splitting the dataset into two subsets, exploring dataset and cleaning

In [ ]:
#!pip install optbinning

In [ ]:
import pandas as pd

# Load the data from Sheet2 of the Excel file
data = pd.read_excel('GermanCreditData.xlsx', sheet_name='Sheet1')

# Create Subset 1 and Subset 2 based on Checking values
subset1 = data[(data['Checking'] == 1) | (data['Checking'] == 2)]
subset2 = data[(data['Checking'] == 3) | (data['Checking'] == 4)]

In [ ]:
data

,Checking,Duration,History,Purpose,Amount,Savings,Emploed,Installp,marital,Coapp,...,Age,Other,housing,Existcr,Job,Depends,Telephone,Foreign,Bad,Good
0,1,6,4,3,1169,5,5,4,3,1,...,67,3,2,2,3,1,2,1,0,1
1,2,48,2,3,5951,1,3,2,2,1,...,22,3,2,1,3,1,1,1,1,0
2,4,12,4,6,2096,1,4,2,3,1,...,49,3,2,1,2,2,1,1,0,1
3,1,42,2,2,7882,1,4,2,3,3,...,45,3,3,1,3,2,1,1,0,1
4,1,24,3,0,4870,1,3,3,3,1,...,53,3,3,2,3,2,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,4,12,2,2,1736,1,4,3,2,1,...,31,3,2,1,2,1,1,1,0,1
996,1,30,2,1,3857,1,3,4,1,1,...,40,3,2,1,4,1,2,1,0,1
997,4,12,2,3,804,1,5,4,3,1,...,38,3,2,1,3,1,1,1,0,1
998,1,45,2,3,1845,1,3,4,3,1,...,23,3,3,1,3,1,2,1,1,0
999,2,45,4,1,4576,2,1,3,3,1,...,27,3,2,1,3,1,1,1,0,1

In [ ]:
data['Good'].value_counts()
data['Bad'].value_counts()

0    700
1    300
Name: Bad, dtype: int64

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 22 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Checking   1000 non-null   int64
 1   Duration   1000 non-null   int64
 2   History    1000 non-null   int64
 3   Purpose    1000 non-null   object
 4   Amount     1000 non-null   int64
 5   Savings    1000 non-null   int64
 6   Emploed    1000 non-null   int64
 7   Installp   1000 non-null   int64
 8   marital    1000 non-null   int64
 9   Coapp      1000 non-null   int64
 10  Resident   1000 non-null   int64
 11  Property   1000 non-null   int64
 12  Age        1000 non-null   int64
 13  Other      1000 non-null   int64
 14  housing    1000 non-null   int64
 15  Existcr    1000 non-null   int64
 16  Job        1000 non-null   int64
 17  Depends    1000 non-null   int64
 18  Telephone  1000 non-null   int64
 19  Foreign    1000 non-null   int64
 20  Bad        1000 non-null   int64
 21  Good       1000 non-null   int64
dtypes: int64(21), object(1)
memory usage: 172.0+ KB

In [ ]:
import io
from contextlib import redirect_stdout

# Capture the output of subset1.info() and subset2.info()
with io.StringIO() as subset1_info, io.StringIO() as subset2_info:
    with redirect_stdout(subset1_info):
        subset1.info()
    with redirect_stdout(subset2_info):
        subset2.info()

    subset1_info_lines = subset1_info.getvalue().split("\n")
    subset2_info_lines = subset2_info.getvalue().split("\n")

# Find the maximum line length for formatting
max_length = max([len(info) for info in subset1_info_lines])

# Print titles with a border
print(f"{'-' * (max_length + 4)} {'-' * (max_length + 4)}")
print(f"| {'Subset1 Info':<{max_length}} | {'Subset2 Info':<{max_length}} |")
print(f"{'-' * (max_length + 4)} {'-' * (max_length + 4)}")

# Print the lines side by side with a border
for info1, info2 in zip(subset1_info_lines, subset2_info_lines):
    print(f"| {info1:<{max_length}} | {info2:<{max_length}} |")

# Print the bottom border
print(f"{'-' * (max_length + 4)} {'-' * (max_length + 4)}")

------------------------------------------ ------------------------------------------
| Subset1 Info                           | Subset2 Info                           |
------------------------------------------ ------------------------------------------
| <class 'pandas.core.frame.DataFrame'>  | <class 'pandas.core.frame.DataFrame'>  |
| Int64Index: 543 entries, 0 to 999      | Int64Index: 457 entries, 2 to 997      |
| Data columns (total 22 columns):       | Data columns (total 22 columns):       |
|  #   Column     Non-Null Count  Dtype  |  #   Column     Non-Null Count  Dtype  |
| ---  ------     --------------  -----  | ---  ------     --------------  -----  |
|  0   Checking   543 non-null    int64  |  0   Checking   457 non-null    int64  |
|  1   Duration   543 non-null    int64  |  1   Duration   457 non-null    int64  |
|  2   History    543 non-null    int64  |  2   History    457 non-null    int64  |
|  3   Purpose    543 non-null    object |  3   Purpose    457 non-null    object |
|  4   Amount     543 non-null    int64  |  4   Amount     457 non-null    int64  |
|  5   Savings    543 non-null    int64  |  5   Savings    457 non-null    int64  |
|  6   Emploed    543 non-null    int64  |  6   Emploed    457 non-null    int64  |
|  7   Installp   543 non-null    int64  |  7   Installp   457 non-null    int64  |
|  8   marital    543 non-null    int64  |  8   marital    457 non-null    int64  |
|  9   Coapp      543 non-null    int64  |  9   Coapp      457 non-null    int64  |
|  10  Resident   543 non-null    int64  |  10  Resident   457 non-null    int64  |
|  11  Property   543 non-null    int64  |  11  Property   457 non-null    int64  |
|  12  Age        543 non-null    int64  |  12  Age        457 non-null    int64  |
|  13  Other      543 non-null    int64  |  13  Other      457 non-null    int64  |
|  14  housing    543 non-null    int64  |  14  housing    457 non-null    int64  |
|  15  Existcr    543 non-null    int64  |  15  Existcr    457 non-null    int64  |
|  16  Job        543 non-null    int64  |  16  Job        457 non-null    int64  |
|  17  Depends    543 non-null    int64  |  17  Depends    457 non-null    int64  |
|  18  Telephone  543 non-null    int64  |  18  Telephone  457 non-null    int64  |
|  19  Foreign    543 non-null    int64  |  19  Foreign    457 non-null    int64  |
|  20  Bad        543 non-null    int64  |  20  Bad        457 non-null    int64  |
|  21  Good       543 non-null    int64  |  21  Good       457 non-null    int64  |
| dtypes: int64(21), object(1)           | dtypes: int64(21), object(1)           |
| memory usage: 97.6+ KB                 | memory usage: 82.1+ KB                 |
|                                        |                                        |
------------------------------------------ ------------------------------------------

In [ ]:
data['Checking'].value_counts()

4    394
1    274
2    269
3     63
Name: Checking, dtype: int64

In [ ]:
data.loc[data['Checking'] == 2]

,Checking,Duration,History,Purpose,Amount,Savings,Emploed,Installp,marital,Coapp,...,Age,Other,housing,Existcr,Job,Depends,Telephone,Foreign,Bad,Good
1,2,48,2,3,5951,1,3,2,2,1,...,22,3,2,1,3,1,1,1,1,0
7,2,36,2,1,6948,1,3,2,3,1,...,35,3,1,1,4,1,2,1,0,1
9,2,30,4,0,5234,1,1,4,4,1,...,28,3,2,2,4,1,1,1,1,0
10,2,12,2,0,1295,1,2,3,2,1,...,25,3,1,1,3,1,1,1,1,0
12,2,12,2,3,1567,1,3,1,2,1,...,22,3,2,1,3,1,2,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
977,2,18,3,9,2427,5,5,4,3,1,...,42,3,2,2,3,1,1,1,0,1
979,2,15,1,0,1264,2,3,2,4,1,...,25,3,1,1,3,1,1,1,1,0
980,2,30,4,2,8386,1,4,2,3,1,...,49,3,2,1,3,1,1,1,1,0
989,2,24,4,3,1743,1,5,4,3,1,...,48,3,2,2,2,1,1,1,0,1
999,2,45,4,1,4576,2,1,3,3,1,...,27,3,2,1,3,1,1,1,0,1

In [ ]:
data['Purpose'].value_counts()

3    280
0    234
2    181
1    103
9     97
6     50
5     22
4     12
X     12
8      9
Name: Purpose, dtype: int64

In [ ]:
subset1['Purpose'].value_counts()

0    138
3    129
2    111
9     55
1     47
6     26
5     14
X     11
4      7
8      5
Name: Purpose, dtype: int64

In [ ]:
subset2['Purpose'].value_counts()

3    151
0     96
2     70
1     56
9     42
6     24
5      8
4      5
8      4
X      1
Name: Purpose, dtype: int64

In [ ]:
import io
from contextlib import redirect_stdout

# Capture the output of subset1['Purpose'].value_counts() and subset2['Purpose'].value_counts()
with io.StringIO() as subset1_purpose, io.StringIO() as subset2_purpose:
    with redirect_stdout(subset1_purpose):
        print(subset1['Purpose'].value_counts())
    with redirect_stdout(subset2_purpose):
        print(subset2['Purpose'].value_counts())

    subset1_purpose_lines = subset1_purpose.getvalue().split("\n")
    subset2_purpose_lines = subset2_purpose.getvalue().split("\n")

# Find the maximum line length for formatting
max_length = max([len(purpose) for purpose in subset1_purpose_lines])

# Print titles
print(f"{'Subset1 Purpose Value Counts':<{max_length}}   Subset2 Purpose Value Counts")

# Print the lines side by side
for purpose1, purpose2 in zip(subset1_purpose_lines, subset2_purpose_lines):
    print(f"{purpose1:<{max_length}}    {purpose2}")

Subset1 Purpose Value Counts   Subset2 Purpose Value Counts
0    138                       3    151
3    129                       0     96
2    111                       2     70
9     55                       1     56
1     47                       9     42
6     26                       6     24
5     14                       5      8
X     11                       4      5
4      7                       8      4
8      5                       X      1
Name: Purpose, dtype: int64    Name: Purpose, dtype: int64

In [ ]:
import matplotlib.pyplot as plt

# Create bar charts for value counts of 'Purpose' in both subsets
fig, (ax1, ax2) = plt.subplots(1, 2, figsize=(12, 5))

subset1['Purpose'].value_counts().plot(kind='bar', ax=ax1)
ax1.set_title('Subset1 Purpose Value Counts')
ax1.set_xlabel('Purpose')
ax1.set_ylabel('Count')

subset2['Purpose'].value_counts().plot(kind='bar', ax=ax2)
ax2.set_title('Subset2 Purpose Value Counts')
ax2.set_xlabel('Purpose')
ax2.set_ylabel('Count')

plt.tight_layout()
plt.savefig('purpose_value_counts.png')
plt.show()

## Dropping rows with 'X' in Subset 1 and Subset 2

In [ ]:
# Dropping rows with 'X' in 'Purpose' column for subset1
subset1_cleaned = subset1[subset1['Purpose'] != 'X']

In [ ]:
# Data frame
subset1_cleaned['Purpose'].value_counts()

0    138
3    129
2    111
9     55
1     47
6     26
5     14
4      7
8      5
Name: Purpose, dtype: int64

In [ ]:
# Dropping rows with 'X' in 'Purpose' column for subset2
subset2_cleaned = subset2[subset2['Purpose'] != 'X']

In [ ]:
subset2_cleaned['Purpose'].value_counts()

3    151
0     96
2     70
1     56
9     42
6     24
5      8
4      5
8      4
Name: Purpose, dtype: int64

## Outlier analysis

In [ ]:
import pandas as pd
import plotly.graph_objects as go
from plotly.subplots import make_subplots

# Replace subset1 and subset2 with your actual DataFrame names
# Replace 'continuous_var1', 'continuous_var2', etc. with the column names of your continuous variables
continuous_variables =  ['Duration', 'Amount', 'Installp', 'Resident', 'Age', 'Existcr', 'Depends']

# Function to create subplots for a given set of continuous variables in a given subset
def plot_subplots(subset, continuous_variables, subset_name):
    num_vars = len(continuous_variables)
    fig = make_subplots(cols=num_vars, subplot_titles=continuous_variables)

    for i, var in enumerate(continuous_variables, start=1):
        fig.add_trace(go.Box(y=subset[var], name=var, showlegend=False), col=i, row=1)

    fig.update_layout(title=f'Box Plots for Continuous Variables in {subset_name}')
    fig.show()

# Create subplots for each continuous variable in both subsets
plot_subplots(subset1_cleaned, continuous_variables, "Subset 1")
plot_subplots(subset2_cleaned, continuous_variables, "Subset 2")

In [ ]:
# Define a function to remove outliers based on the IQR method
def remove_outliers(df, columns):
    '''
    This function removes outliers from a dataframe based on the Interquartile Range (IQR) method.

    Parameters:
        df (pandas dataframe): The dataframe to remove outliers from.
        columns (list of str): The columns to remove outliers from.

    Returns:
        df_out (pandas dataframe): The cleaned dataframe with outliers removed.
    '''
    df_out = df.copy()
    for col in columns:
        Q1 = df_out[col].quantile(0.25) # First quartile
        Q3 = df_out[col].quantile(0.75) # Third quartile
        IQR = Q3 - Q1 # Interquartile range
        lower_bound = Q1 - 1.5 * IQR # Lower bound for outliers
        upper_bound = Q3 + 1.5 * IQR # Upper bound for outliers

        df_out = df_out[(df_out[col] >= lower_bound) & (df_out[col] <= upper_bound)] # Remove outliers from dataframe

    return df_out

# List of columns to remove outliers from
columns_to_remove_outliers = ['Duration', 'Amount', 'Age']

# Remove outliers from subset1_cleaned and subset2_cleaned
subset1_cleaned = remove_outliers(subset1_cleaned, columns_to_remove_outliers)
subset2_cleaned = remove_outliers(subset2_cleaned, columns_to_remove_outliers)

In [ ]:
# Replace subset1 and subset2 with your actual DataFrame names
# Replace 'continuous_var1', 'continuous_var2', etc. with the column names of your continuous variables
continuous_variables =  ['Duration', 'Amount', 'Installp', 'Resident', 'Age', 'Existcr', 'Depends']

# Function to create subplots for a given set of continuous variables in a given subset
def plot_subplots(subset, continuous_variables, subset_name):
    num_vars = len(continuous_variables)
    fig = make_subplots(cols=num_vars, subplot_titles=continuous_variables)

    for i, var in enumerate(continuous_variables, start=1):
        fig.add_trace(go.Box(y=subset[var], name=var, showlegend=False), col=i, row=1)

    fig.update_layout(title=f'Box Plots for Continuous Variables in {subset_name}')
    fig.show()

# Create subplots for each continuous variable in both subsets
plot_subplots(subset1_cleaned, continuous_variables, "Subset 1")
plot_subplots(subset2_cleaned, continuous_variables, "Subset 2")

# Q2) Establishing Training set and Validation set

## Train and test split

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split


# Split subset1 using stratified sampling
X1 = subset1_cleaned.drop(columns=['Bad', 'Good'])
y1 = subset1_cleaned['Bad']  # 'Bad' is the target variable
X1_train, X1_val, y1_train, y1_val = train_test_split(X1, y1, test_size=0.3, stratify=y1, random_state=42)

# Split subset2 using stratified sampling
X2 = subset2_cleaned.drop(columns=['Bad', 'Good'])
y2 = subset2_cleaned['Bad']  # 'Bad' is the target variable
X2_train, X2_val, y2_train, y2_val = train_test_split(X2, y2, test_size=0.3, stratify=y2, random_state=42)

In [ ]:
y1_train.value_counts()

0    188
1    141
Name: Bad, dtype: int64

In [ ]:
y2_train.value_counts()

0    248
1     32
Name: Bad, dtype: int64

In [ ]:
y1_val.value_counts()

0    81
1    60
Name: Bad, dtype: int64

In [ ]:
y2_val.value_counts()

0    106
1     14
Name: Bad, dtype: int64

In [ ]:
subset1['Good'].value_counts()
subset1['Bad'].value_counts()

0    303
1    240
Name: Bad, dtype: int64

In [ ]:
subset1_cleaned['Good'].value_counts()
subset1_cleaned['Bad'].value_counts()

0    269
1    201
Name: Bad, dtype: int64

In [ ]:
subset2['Good'].value_counts()
subset2['Bad'].value_counts()

0    397
1     60
Name: Bad, dtype: int64

In [ ]:
subset2_cleaned['Good'].value_counts()
subset2_cleaned['Bad'].value_counts()

0    354
1     46
Name: Bad, dtype: int64

In [ ]:
import plotly.graph_objects as go

# Count the number of Good and Bad applicants in each subset
subset1_train_counts = y1_train.value_counts()
subset2_train_counts = y2_train.value_counts()


# Create the bar chart for Subset 1
trace1 = go.Bar(
    x=['Good', 'Bad'],
    y=subset1_train_counts,
    name='Subset 1 Training (Checking = 1 or 2)',
    marker_color='rgb(55, 83, 109)'
)

# Create the bar chart for Subset 2
trace2 = go.Bar(
    x=['Good', 'Bad'],
    y=subset2_train_counts,
    name='Subset 2 Training (Checking = 3 or 4)',
    marker_color='rgb(26, 118, 255)'
)

# Combine the bar charts and set the layout options
data = [trace1, trace2]
layout = go.Layout(
    title='Distribution of Good and Bad Applicants in Training Sets',
    xaxis=dict(title='Applicant Type'),
    yaxis=dict(title='Count'),
    barmode='group'
)

# Create the final figure and display it
fig = go.Figure(data=data, layout=layout)
fig.show()

In [ ]:
# Count the number of Good and Bad applicants in the training and validation sets for both subsets
subset1_val_counts = y1_val.value_counts()
subset2_val_counts = y2_val.value_counts()

# Create the bar charts for the training and validation sets
trace1_train = go.Bar(
    x=['Good', 'Bad'],
    y=subset1_train_counts,
    name='Subset 1 Train (Checking = 1 or 2)',
    marker_color='rgb(55, 83, 109)',
    opacity=0.6
)

trace1_val = go.Bar(
    x=['Good', 'Bad'],
    y=subset1_val_counts,
    name='Subset 1 Validation (Checking = 1 or 2)',
    marker_color='rgb(55, 83, 109)',
    opacity=1
)

trace2_train = go.Bar(
    x=['Good', 'Bad'],
    y=subset2_train_counts,
    name='Subset 2 Train (Checking = 3 or 4)',
    marker_color='rgb(26, 118, 255)',
    opacity=0.6
)

trace2_val = go.Bar(
    x=['Good', 'Bad'],
    y=subset2_val_counts,
    name='Subset 2 Validation (Checking = 3 or 4)',
    marker_color='rgb(26, 118, 255)',
    opacity=1
)

# Combine the bar charts and set the layout options
data = [trace1_val, trace2_val]
layout = go.Layout(
    title='Distribution of Good and Bad Applicants in Validation Sets',
    xaxis=dict(title='Applicant Type'),
    yaxis=dict(title='Count'),
    barmode='group'
)

# Create the final figure and display it
fig = go.Figure(data=data, layout=layout)
fig.show()

## Correlation Matrix

In [ ]:
# Select the numerical variables in subset1
numerical_columns = ['Duration', 'Amount', 'Installp', 'Resident', 'Age', 'Existcr', 'Depends']
numerical_subset1 = X1_train[numerical_columns]

# Calculate the correlation matrix for subset1
correlation_matrix_subset1 = numerical_subset1.corr()
print("Correlation matrix for Subset1:\n", correlation_matrix_subset1)

Correlation matrix for Subset1:
           Duration    Amount  Installp  Resident       Age   Existcr   Depends
Duration  1.000000  0.560094  0.070830  0.065675  0.060329 -0.027796  0.068620
Amount    0.560094  1.000000 -0.275284  0.056177  0.149398  0.097159  0.130448
Installp  0.070830 -0.275284  1.000000  0.025610  0.055960 -0.089120 -0.143198
Resident  0.065675  0.056177  0.025610  1.000000  0.149161  0.111709  0.066619
Age       0.060329  0.149398  0.055960  0.149161  1.000000  0.154306  0.170292
Existcr  -0.027796  0.097159 -0.089120  0.111709  0.154306  1.000000  0.087835
Depends   0.068620  0.130448 -0.143198  0.066619  0.170292  0.087835  1.000000

In [ ]:
# Select the numerical variables in subset2
numerical_subset2 = X2_train[numerical_columns]

# Calculate the correlation matrix for subset2
correlation_matrix_subset2 = numerical_subset2.corr()
print("\nCorrelation matrix for Subset2:\n", correlation_matrix_subset2)

Correlation matrix for Subset2:
           Duration    Amount  Installp  Resident       Age   Existcr   Depends
Duration  1.000000  0.494617  0.320752  0.102949 -0.016334  0.057801 -0.138760
Amount    0.494617  1.000000 -0.247300  0.089167 -0.030396  0.044734 -0.008450
Installp  0.320752 -0.247300  1.000000  0.095760  0.136242  0.109012 -0.060813
Resident  0.102949  0.089167  0.095760  1.000000  0.335953  0.008813 -0.013590
Age      -0.016334 -0.030396  0.136242  0.335953  1.000000  0.162378  0.108470
Existcr   0.057801  0.044734  0.109012  0.008813  0.162378  1.000000  0.072210
Depends  -0.138760 -0.008450 -0.060813 -0.013590  0.108470  0.072210  1.000000

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

# Create the subplots with 1 row and 2 columns
fig, axes = plt.subplots(1, 2, figsize=(12, 6))

# Create the first heatmap for Subset1
sns.heatmap(correlation_matrix_subset1, annot=False, square=True, ax=axes[0])
axes[0].set_title('Correlation Matrix for Subset1')

# Create the second heatmap for Subset2
sns.heatmap(correlation_matrix_subset2, annot=False, square=True, ax=axes[1])
axes[1].set_title('Correlation Matrix for Subset2')

# Adjust the spacing between the subplots
fig.subplots_adjust(wspace=0.4)

# Show the plots
plt.show()

# Q3) Variable selection and Binning

## Cleaning data

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
from optbinning import OptimalBinning

In [ ]:
# convert 'Purpose' column to int64 data type in both subsets
X1_train['Purpose'] = X1_train['Purpose'].astype('int64')
X2_train['Purpose'] = X2_train['Purpose'].astype('int64')

## OptimalBinning function

In [ ]:
import pandas as pd
from optbinning import OptimalBinning
from sklearn.preprocessing import OrdinalEncoder

def perform_optimal_binning(X, y, continuous_vars, categorical_vars):
    X_binned = X.copy()
    iv_values = {}

    for variable in continuous_vars:
        optb = OptimalBinning(name=variable, dtype="numerical", prebinning_method="cart", solver="cp")
        optb.fit(X[variable].values, y.values)
        X_binned[variable] = optb.transform(X[variable].values, metric="indices")
        binning_table = optb.binning_table.build()
        iv_values[variable] = binning_table.loc["Totals", "IV"]

        print("NUMERICAL BINNING: ")
        print(f"Binning table for {variable}:")
        print(binning_table)
        print("\n")

    for variable in categorical_vars:
        optb = OptimalBinning(name=variable, dtype="categorical", solver="mip", cat_cutoff=None)
        optb.fit(X[variable].values, y.values)
        X_binned[variable] = optb.transform(X[variable].values, metric="indices")
        binning_table = optb.binning_table.build()
        iv_values[variable] = binning_table.loc["Totals", "IV"]

        print("CATEGORICAL BINNING: ")
        print(f"Binning table for {variable}:")
        print(binning_table)
        print("\n")

    return X_binned, iv_values



continuous_vars = ['Duration', 'Amount', 'Installp', 'Resident', 'Age', 'Existcr', 'Depends']
categorical_vars = [col for col in X1_train.columns if col not in continuous_vars]

## Optimal Binning of X1_train

In [ ]:
X1_train_binned, iv_values_X1 = perform_optimal_binning(X1_train, y1_train, continuous_vars, categorical_vars)

## Optimal Binning of X2_train

In [ ]:
X2_train_binned, iv_values_X2 = perform_optimal_binning(X2_train, y2_train, continuous_vars, categorical_vars)

## Sorted IV's without Custom Binning

In [ ]:
print("Information Value for Subset1:")
sorted_iv_values_X1 = sorted(iv_values_X1.items(), key=lambda x: x[1], reverse=True)
for variable, iv in sorted_iv_values_X1:
    print(f"{variable}: {iv}")

print("\nInformation Value for Subset2:")
sorted_iv_values_X2 = sorted(iv_values_X2.items(), key=lambda x: x[1], reverse=True)
for variable, iv in sorted_iv_values_X2:
    print(f"{variable}: {iv}")

Information Value for Subset1:
Duration: 0.4178489133645281
Age: 0.3274238864183101
History: 0.3197574550699738
Property: 0.1959232008502502
Amount: 0.16805023062228486
housing: 0.1493033198743211
Purpose: 0.12927103896433442
Savings: 0.12061556913976491
marital: 0.09745041681263165
Emploed: 0.08206587445302474
Installp: 0.05924117611193566
Coapp: 0.05596615242565124
Checking: 0.05044658012181499
Job: 0.04844828406310453
Existcr: 0.035820184424735585
Other: 0.033378873482336674
Resident: 0.02011687610608317
Depends: 0.014404628197682982
Telephone: 0.0020486642436627935
Foreign: 0.0

Information Value for Subset2:
Duration: 0.4828683748484717
Amount: 0.45914162410514436
History: 0.4248002895744063
Other: 0.32791173795221573
Purpose: 0.2368400811339722
Depends: 0.2129056651108976
Telephone: 0.15592834715762222
Age: 0.13426287511844748
Emploed: 0.12576038278569646
Job: 0.12348305128489563
Savings: 0.11180765359191974
Installp: 0.07763495298793169
Coapp: 0.06885914571488531
Checking: 0.06308854436647741
Property: 0.04339234818747909
marital: 0.03811710898853561
Resident: 0.01976005251637155
Existcr: 0.014169270895199312
housing: 0.009027561094449752
Foreign: 0.0

In [ ]:
import pandas as pd
from optbinning import OptimalBinning
from sklearn.preprocessing import OrdinalEncoder

def perform_optimal_binning2(X, y, continuous_vars, categorical_vars):
    X_binned = X.copy()
    iv_values = {}

    for variable in continuous_vars:
        if variable == "Duration":
            user_splits = [7.5, 11.5]
        elif variable == "Installp":
            user_splits = [1.5]
        elif variable == "Age":
            user_splits = [24.5, 25.5]
        else:
            user_splits = None

        optb = OptimalBinning(name=variable, dtype="numerical", prebinning_method="cart", solver="cp", user_splits=user_splits)
        optb.fit(X[variable].values, y.values)
        X_binned[variable] = optb.transform(X[variable].values, metric="indices")
        binning_table = optb.binning_table.build()
        iv_values[variable] = binning_table.loc["Totals", "IV"]

        print("NUMERICAL BINNING: ")
        print(f"Binning table for {variable}:")
        print(binning_table)
        print("\n")

    for variable in categorical_vars:
        optb = OptimalBinning(name=variable, dtype="categorical", solver="mip", cat_cutoff=None)
        optb.fit(X[variable].values, y.values)
        X_binned[variable] = optb.transform(X[variable].values, metric="indices")
        binning_table = optb.binning_table.build()
        iv_values[variable] = binning_table.loc["Totals", "IV"]

        print("CATEGORICAL BINNING: ")
        print(f"Binning table for {variable}:")
        print(binning_table)
        print("\n")

    return X_binned, iv_values

continuous_vars = ['Duration', 'Amount', 'Installp', 'Resident', 'Age', 'Existcr', 'Depends']
categorical_vars = [col for col in X1_train.columns if col not in continuous_vars]

# Optimal Binning of X1_train
X1_train_binned2, iv2_values_X1 = perform_optimal_binning2(X1_train, y1_train, continuous_vars, categorical_vars)

## Investigating high IV values

In [ ]:
import pandas as pd
import plotly.graph_objects as go
from plotly.subplots import make_subplots

# Combine the training variables and target variable into a single DataFrame
train_df = pd.concat([X2_train, y2_train], axis=1)

# Create a subplot with 1 row and 3 columns
fig = make_subplots(rows=1, cols=3, subplot_titles=("Duration", "Foreign", "History"), specs=[[{'type':'bar'}, {'type':'bar'}, {'type':'bar'}]])

# Calculate counts for each category and the target variable 'Bad'
purpose_counts = train_df.groupby(['Duration', 'Bad']).size().reset_index(name='Count')
foreign_counts = train_df.groupby(['Foreign', 'Bad']).size().reset_index(name='Count')
history_counts = train_df.groupby(['History', 'Bad']).size().reset_index(name='Count')

# Add bar charts to the subplot for Good credit risk (Bad == 0)
fig.add_trace(go.Bar(x=purpose_counts[purpose_counts['Bad'] == 0]['Duration'], y=purpose_counts[purpose_counts['Bad'] == 0]['Count'], name='Good (Duration)'), row=1, col=1)
fig.add_trace(go.Bar(x=foreign_counts[foreign_counts['Bad'] == 0]['Foreign'], y=foreign_counts[foreign_counts['Bad'] == 0]['Count'], name='Good (Foreign)'), row=1, col=2)
fig.add_trace(go.Bar(x=history_counts[history_counts['Bad'] == 0]['History'], y=history_counts[history_counts['Bad'] == 0]['Count'], name='Good (History)'), row=1, col=3)

# Add bar charts to the subplot for Bad credit risk (Bad == 1)
fig.add_trace(go.Bar(x=purpose_counts[purpose_counts['Bad'] == 1]['Duration'], y=purpose_counts[purpose_counts['Bad'] == 1]['Count'], name='Bad (Duration)'), row=1, col=1)
fig.add_trace(go.Bar(x=foreign_counts[foreign_counts['Bad'] == 1]['Foreign'], y=foreign_counts[foreign_counts['Bad'] == 1]['Count'], name='Bad (Foreign)'), row=1, col=2)
fig.add_trace(go.Bar(x=history_counts[history_counts['Bad'] == 1]['History'], y=history_counts[history_counts['Bad'] == 1]['Count'], name='Bad (History)'), row=1, col=3)

# Update the layout
fig.update_layout(barmode='group', title_text="Count Plots of Duration, Foreign, and History with the Target Variable 'Bad' in the Training Set")

# Show the plot
fig.show()

## Subset 1 Binning (Top 4 variables)

### Binning: History

In [ ]:

# Optimal binning for History
optb_history = OptimalBinning(name='History', dtype='categorical', solver='cp')
optb_history.fit(X1_train['History'], y1_train)
binning_table_history = optb_history.binning_table.build()
print("Optimal binning for History:")
print(binning_table_history)

Optimal binning for History:
            Bin  Count  Count (%)  Non-event  Event  Event rate       WoE  \
0           [4]     75   0.227964         58     17    0.226667  0.939548
1           [3]     33   0.100304         19     14    0.424242    0.0177
2           [2]    180   0.547112         98     82    0.455556 -0.109434
3           [1]     22   0.066869          7     15    0.681818 -1.049822
4           [0]     19   0.057751          6     13    0.684211 -1.060872
5       Special      0   0.000000          0      0    0.000000       0.0
6       Missing      0   0.000000          0      0    0.000000       0.0
Totals             329   1.000000        188    141    0.428571

              IV        JS
0       0.176582  0.021295
1       0.000031  0.000004
2       0.006597  0.000824
3       0.072594  0.008679
4       0.063953  0.007639
5       0.000000  0.000000
6       0.000000  0.000000
Totals  0.319757  0.038442

#### Customized Binning

In [ ]:
from optbinning import OptimalBinning

# Adjusting parameters for OptimalBinning
optb_history_adjusted = OptimalBinning(name='History', dtype='categorical', solver='cp', max_n_bins=3)

# Fitting the adjusted OptimalBinning object
optb_history_adjusted.fit(X1_train['History'], y1_train)

# Building and displaying the adjusted binning table
binning_table_history_adjusted = optb_history_adjusted.binning_table.build()
print("Adjusted optimal binning for History:")
print(binning_table_history_adjusted)

Adjusted optimal binning for History:
            Bin  Count  Count (%)  Non-event  Event  Event rate       WoE  \
0           [4]     75   0.227964         58     17    0.226667  0.939548
1        [3, 2]    213   0.647416        117     96    0.450704 -0.089856
2        [1, 0]     41   0.124620         13     28    0.682927 -1.054937
3       Special      0   0.000000          0      0    0.000000       0.0
4       Missing      0   0.000000          0      0    0.000000       0.0
Totals             329   1.000000        188    141    0.428571

              IV        JS
0       0.176582  0.021295
1       0.005258  0.000657
2       0.136543  0.016318
3       0.000000  0.000000
4       0.000000  0.000000
Totals  0.318382  0.038270

### Binning: Age

In [ ]:
# Optimal binning for Age
optb_age = OptimalBinning(name='Age', dtype='numerical', solver='cp')
optb_age.fit(X1_train['Age'], y1_train)
binning_table_age = optb_age.binning_table.build()
print("Optimal binning for Age:")
print(binning_table_age)

Optimal binning for Age:
                   Bin  Count  Count (%)  Non-event  Event  Event rate  \
0        (-inf, 24.50)     63   0.191489         26     37    0.587302
1       [24.50, 25.50)     19   0.057751         10      9    0.473684
2       [25.50, 34.50)    113   0.343465         66     47    0.415929
3       [34.50, 36.50)     24   0.072948         20      4    0.166667
4       [36.50, 39.50)     20   0.060790         17      3    0.150000
5       [39.50, 49.50)     55   0.167173         34     21    0.381818
6         [49.50, inf)     35   0.106383         15     20    0.571429
7              Special      0   0.000000          0      0    0.000000
8              Missing      0   0.000000          0      0    0.000000
Totals                    329   1.000000        188    141    0.428571

             WoE        IV        JS
0      -0.640503  0.079495  0.009770
1      -0.182322  0.001940  0.000242
2       0.051825  0.000919  0.000115
3       1.321756  0.103116  0.012026
4       1.446919  0.100053  0.011518
5       0.194156  0.006196  0.000773
6      -0.575364  0.035705  0.004403
7            0.0  0.000000  0.000000
8            0.0  0.000000  0.000000
Totals            0.327424  0.038848

#### Customized Binning

In [ ]:
# Optimal binning for Age
optb_age_adjusted = OptimalBinning(name='Age', dtype='numerical', solver='cp', max_n_bins=5)
optb_age_adjusted.fit(X1_train['Age'], y1_train)
binning_table_age_adjusted = optb_age_adjusted.binning_table.build()
print("Optimal binning for Age:")
print(binning_table_age_adjusted)

Optimal binning for Age:
                   Bin  Count  Count (%)  Non-event  Event  Event rate  \
0        (-inf, 24.50)     63   0.191489         26     37    0.587302
1       [24.50, 34.50)    132   0.401216         76     56    0.424242
2       [34.50, 39.50)     44   0.133739         37      7    0.159091
3       [39.50, 49.50)     55   0.167173         34     21    0.381818
4         [49.50, inf)     35   0.106383         15     20    0.571429
5              Special      0   0.000000          0      0    0.000000
6              Missing      0   0.000000          0      0    0.000000
Totals                    329   1.000000        188    141    0.428571

             WoE        IV        JS
0      -0.640503  0.079495  0.009770
1         0.0177  0.000126  0.000016
2       1.377326  0.202692  0.023506
3       0.194156  0.006196  0.000773
4      -0.575364  0.035705  0.004403
5            0.0  0.000000  0.000000
6            0.0  0.000000  0.000000
Totals            0.324214  0.038468

### Binning: Duration

In [ ]:
# Optimal binning for Duration
optb_duration = OptimalBinning(name='Duration', dtype='numerical', solver='cp')
optb_duration.fit(X1_train['Duration'], y1_train)
binning_table_duration = optb_duration.binning_table.build()
print("Optimal binning for Duration:")
print(binning_table_duration)

Optimal binning for Duration:
                   Bin  Count  Count (%)  Non-event  Event  Event rate  \
0         (-inf, 7.50)     24   0.072948         21      3    0.125000
1        [7.50, 11.50)     31   0.094225         22      9    0.290323
2       [11.50, 22.50)    145   0.440729         91     54    0.372414
3       [22.50, 31.50)     79   0.240122         36     43    0.544304
4       [31.50, 43.50)     31   0.094225         14     17    0.548387
5         [43.50, inf)     19   0.057751          4     15    0.789474
6              Special      0   0.000000          0      0    0.000000
7              Missing      0   0.000000          0      0    0.000000
Totals                    329   1.000000        188    141    0.428571

             WoE        IV        JS
0       1.658228  0.149946  0.016854
1       0.606136  0.032241  0.003970
2       0.234193  0.023668  0.002952
3      -0.465363  0.052807  0.006542
4      -0.481838  0.022212  0.002750
5      -1.609438  0.136973  0.015484
6            0.0  0.000000  0.000000
7            0.0  0.000000  0.000000
Totals            0.417849  0.048551

#### Customized Binning

In [ ]:
# Optimal binning for Duration
optb_duration_adjusted = OptimalBinning(name='Duration', dtype='numerical', solver='cp', max_n_bins=4)
optb_duration_adjusted.fit(X1_train['Duration'], y1_train)
binning_table_duration_adjusted = optb_duration_adjusted.binning_table.build()
print("Optimal binning for Duration:")
print(binning_table_duration_adjusted)

Optimal binning for Duration:
                   Bin  Count  Count (%)  Non-event  Event  Event rate  \
0         (-inf, 7.50)     24   0.072948         21      3    0.125000
1        [7.50, 22.50)    176   0.534954        113     63    0.357955
2       [22.50, 43.50)    110   0.334347         50     60    0.545455
3         [43.50, inf)     19   0.057751          4     15    0.789474
4              Special      0   0.000000          0      0    0.000000
5              Missing      0   0.000000          0      0    0.000000
Totals                    329   1.000000        188    141    0.428571

             WoE        IV        JS
0       1.658228  0.149946  0.016854
1       0.296571  0.045748  0.005698
2      -0.470004  0.075001  0.009290
3      -1.609438  0.136973  0.015484
4            0.0  0.000000  0.000000
5            0.0  0.000000  0.000000
Totals            0.407668  0.047325

### Binning: Property

In [ ]:
# Optimal binning for Property
optb_property = OptimalBinning(name='Property', dtype='categorical', solver='cp')
optb_property.fit(X1_train['Property'], y1_train)
binning_table_property = optb_property.binning_table.build()
print("Optimal binning for Property:")
print(binning_table_property)

Optimal binning for Property:
            Bin  Count  Count (%)  Non-event  Event  Event rate       WoE  \
0           [1]     90   0.273556         65     25    0.277778  0.667829
1        [3, 2]    195   0.592705        106     89    0.456410 -0.112879
2           [4]     44   0.133739         17     27    0.613636 -0.750306
3       Special      0   0.000000          0      0    0.000000       0.0
4       Missing      0   0.000000          0      0    0.000000       0.0
Totals             329   1.000000        188    141    0.428571

              IV        JS
0       0.112489  0.013806
1       0.007605  0.000950
2       0.075829  0.009262
3       0.000000  0.000000
4       0.000000  0.000000
Totals  0.195923  0.024018

#### Customized Binning

In [ ]:
# Optimal binning for Property
optb_property_adjusted = OptimalBinning(name='Property', dtype='categorical', solver='cp', max_n_bins=2)
optb_property_adjusted.fit(X1_train['Property'], y1_train)
binning_table_property_adjusted = optb_property_adjusted.binning_table.build()
print("Optimal binning for Property:")
print(binning_table_property_adjusted)

Optimal binning for Property:
              Bin  Count  Count (%)  Non-event  Event  Event rate       WoE  \
0             [1]     90   0.273556         65     25    0.277778  0.667829
1       [3, 2, 4]    239   0.726444        123    116    0.485356 -0.229088
2         Special      0   0.000000          0      0    0.000000       0.0
3         Missing      0   0.000000          0      0    0.000000       0.0
Totals               329   1.000000        188    141    0.428571

              IV        JS
0       0.112489  0.013806
1       0.038588  0.004813
2       0.000000  0.000000
3       0.000000  0.000000
Totals  0.151076  0.018618

### Transform and Encode Training Set

In [ ]:
# Transform the original variables into their binned categories
X1_train_transformed = X1_train.copy()
X1_train_transformed['History'] = optb_history.transform(X1_train_transformed['History'], metric='bins')
X1_train_transformed['Duration'] = optb_duration.transform(X1_train_transformed['Duration'], metric='bins')
X1_train_transformed['Age'] = optb_age.transform(X1_train_transformed['Age'], metric='bins')
X1_train_transformed['Property'] = optb_property.transform(X1_train_transformed['Property'], metric='bins')



## Ordinal Encoding

# Obtain the bin labels for the binned Age variable from the binning table
bin_labels = binning_table_age['Bin'].tolist()
# Create an instance of the OrdinalEncoder with categories set to the sorted bin labels
encoder = OrdinalEncoder(categories=[bin_labels], dtype=int)
# Encode the Age variable in the X1_train_transformed dataframe using the OrdinalEncoder
X1_train_transformed['Age'] = encoder.fit_transform(X1_train_transformed[['Age']])


# Obtain the bin labels for the binned Duration variable from the binning table
bin_labels = binning_table_duration['Bin'].tolist()
# Create an instance of the OrdinalEncoder with categories set to the sorted bin labels
encoder = OrdinalEncoder(categories=[bin_labels], dtype=int)
# Encode the Duration variable in the X1_train_transformed dataframe using the OrdinalEncoder
X1_train_transformed['Duration'] = encoder.fit_transform(X1_train_transformed[['Duration']])


# One-hot Encoding
from sklearn.preprocessing import OneHotEncoder

# Instantiate the OneHotEncoder, specify the columns to encode, and set the drop parameter to 'first'
encoder = OneHotEncoder(sparse=False, drop='first')
X1_train_encoded = encoder.fit_transform(X1_train_transformed[['History', 'Property']])

# Create a DataFrame with the encoded columns and their respective names
encoded_columns = encoder.get_feature_names_out(['History', 'Property'])
X1_train_encoded_df = pd.DataFrame(X1_train_encoded, columns=encoded_columns, index=X1_train_transformed.index)

# Drop the original 'History' and 'Property' columns and concatenate the encoded DataFrame
X1_train_transformed.drop(['History', 'Property'], axis=1, inplace=True)
X1_train_transformed = pd.concat([X1_train_transformed, X1_train_encoded_df], axis=1)


X1_train_transformed = X1_train_transformed[['History_[1]', 'History_[2]', 'History_[3]', 'History_[4]', 'Property_[3 2]', 'Property_[4]', 'Duration', 'Age']]

### Transform and Encode Validation Set

In [ ]:
# Transform the original variables into their binned categories
X1_val_transformed = X1_val.copy()
X1_val_transformed['History'] = optb_history.transform(X1_val_transformed['History'], metric='bins')
X1_val_transformed['Duration'] = optb_duration.transform(X1_val_transformed['Duration'], metric='bins')
X1_val_transformed['Age'] = optb_age.transform(X1_val_transformed['Age'], metric='bins')
X1_val_transformed['Property'] = optb_property.transform(X1_val_transformed['Property'], metric='bins')


## Ordinal Encoding
from sklearn.preprocessing import OrdinalEncoder
# Obtain the bin labels for the binned Age variable from the binning table
bin_labels = binning_table_age['Bin'].tolist()
# Create an instance of the OrdinalEncoder with categories set to the sorted bin labels
encoder = OrdinalEncoder(categories=[bin_labels], dtype=int)
# Encode the Age variable in the X1_train_transformed dataframe using the OrdinalEncoder
X1_val_transformed['Age'] = encoder.fit_transform(X1_val_transformed[['Age']])


# Obtain the bin labels for the binned Duration variable from the binning table
bin_labels = binning_table_duration['Bin'].tolist()
# Create an instance of the OrdinalEncoder with categories set to the sorted bin labels
encoder = OrdinalEncoder(categories=[bin_labels], dtype=int)
# Encode the Duration variable in the X1_train_transformed dataframe using the OrdinalEncoder
X1_val_transformed['Duration'] = encoder.fit_transform(X1_val_transformed[['Duration']])



# One-hot Encoding
from sklearn.preprocessing import OneHotEncoder

# Instantiate the OneHotEncoder, specify the columns to encode, and set the drop parameter to 'first'
encoder = OneHotEncoder(sparse=False, drop='first')
X1_val_encoded = encoder.fit_transform(X1_val_transformed[['History', 'Property']])

# Create a DataFrame with the encoded columns and their respective names
encoded_columns = encoder.get_feature_names_out(['History', 'Property'])
X1_val_encoded_df = pd.DataFrame(X1_val_encoded, columns=encoded_columns, index=X1_val_transformed.index)

# Drop the original 'History' and 'Property' columns and concatenate the encoded DataFrame
X1_val_transformed.drop(['History', 'Property'], axis=1, inplace=True)
X1_val_transformed = pd.concat([X1_val_transformed, X1_val_encoded_df], axis=1)


X1_val_transformed = X1_val_transformed[['History_[1]', 'History_[2]', 'History_[3]', 'History_[4]', 'Property_[3 2]', 'Property_[4]', 'Duration', 'Age']]

X1_val_transformed

### Binary Variables Subset 1

In [ ]:
X1_train_transformed

,History_[1],History_[2],History_[3],History_[4],Property_[3 2],Property_[4],Duration,Age
227,0.0,1.0,0.0,0.0,0.0,1.0,2,6
351,0.0,1.0,0.0,0.0,1.0,0.0,1,2
892,0.0,0.0,0.0,1.0,1.0,0.0,2,4
103,0.0,0.0,0.0,1.0,1.0,0.0,1,3
207,0.0,0.0,0.0,1.0,1.0,0.0,2,2
...,...,...,...,...,...,...,...,...
765,0.0,1.0,0.0,0.0,0.0,0.0,2,5
631,1.0,0.0,0.0,0.0,1.0,0.0,2,5
525,0.0,1.0,0.0,0.0,1.0,0.0,3,2
507,1.0,0.0,0.0,0.0,1.0,0.0,2,2
766,0.0,1.0,0.0,0.0,1.0,0.0,3,2

## Subset 2 Binning (Top 4 variables)

### Binning: Duration

In [ ]:
# Optimal binning for Duration
optb_duration2 = OptimalBinning(name='Duration', dtype='numerical', solver='cp')
optb_duration2.fit(X2_train['Duration'], y2_train)
binning_table_duration2 = optb_duration2.binning_table.build()
print("Optimal binning for Duration:")
print(binning_table_duration2)

Optimal binning for Duration:
                   Bin  Count  Count (%)  Non-event  Event  Event rate  \
0         (-inf, 8.00)     34   0.121429         33      1    0.029412
1        [8.00, 16.50)    117   0.417857        105     12    0.102564
2       [16.50, 21.50)     44   0.157143         32     12    0.272727
3       [21.50, 25.50)     62   0.221429         56      6    0.096774
4         [25.50, inf)     23   0.082143         22      1    0.043478
5              Special      0   0.000000          0      0    0.000000
6              Missing      0   0.000000          0      0    0.000000
Totals                    280   1.000000        248     32    0.114286

             WoE        IV        JS
0       1.448815  0.147510  0.016978
1       0.121361  0.005872  0.000734
2      -1.066864  0.262414  0.031330
3       0.185899  0.007121  0.000889
4        1.04335  0.059951  0.007171
5            0.0  0.000000  0.000000
6            0.0  0.000000  0.000000
Totals            0.482868  0.057102

#### Customized Binning

In [ ]:
# Optimal binning for Duration
optb_duration2_adjusted = OptimalBinning(name='Duration', dtype='numerical', solver='cp', max_n_bins=4)
optb_duration2_adjusted.fit(X2_train['Duration'], y2_train)
binning_table_duration2_adjusted = optb_duration2_adjusted.binning_table.build()
print("Optimal binning for Duration:")
print(binning_table_duration2_adjusted)

Optimal binning for Duration:
                   Bin  Count  Count (%)  Non-event  Event  Event rate  \
0         (-inf, 8.00)     34   0.121429         33      1    0.029412
1        [8.00, 16.50)    117   0.417857        105     12    0.102564
2       [16.50, 21.50)     44   0.157143         32     12    0.272727
3         [21.50, inf)     85   0.303571         78      7    0.082353
4              Special      0   0.000000          0      0    0.000000
5              Missing      0   0.000000          0      0    0.000000
Totals                    280   1.000000        248     32    0.114286

             WoE        IV        JS
0       1.448815  0.147510  0.016978
1       0.121361  0.005872  0.000734
2      -1.066864  0.262414  0.031330
3       0.363106  0.034773  0.004323
4            0.0  0.000000  0.000000
5            0.0  0.000000  0.000000
Totals            0.450570  0.053365

### Binning: History

In [ ]:
# Optimal binning for History
optb_history2 = OptimalBinning(name='History', dtype='categorical', solver='cp')
optb_history2.fit(X2_train['History'], y2_train)
binning_table_history2 = optb_history2.binning_table.build()
print("Optimal binning for History (Subset 2):")
print(binning_table_history2)

Optimal binning for History (Subset 2):
            Bin  Count  Count (%)  Non-event  Event  Event rate       WoE  \
0           [4]     95   0.339286         90      5    0.052632  0.842679
1        [2, 1]    156   0.557143        138     18    0.115385 -0.010811
2        [3, 0]     29   0.103571         20      9    0.310345 -1.249185
3       Special      0   0.000000          0      0    0.000000       0.0
4       Missing      0   0.000000          0      0    0.000000       0.0
Totals             280   1.000000        248     32    0.114286

              IV        JS
0       0.174142  0.021146
1       0.000065  0.000008
2       0.250593  0.029434
3       0.000000  0.000000
4       0.000000  0.000000
Totals  0.424800  0.050588

#### Customized Binning

In [ ]:
# Optimal binning for History
optb_history2_adjusted = OptimalBinning(name='History', dtype='categorical', solver='cp', max_n_bins=2)
optb_history2_adjusted.fit(X2_train['History'], y2_train)
binning_table_history2_adjusted = optb_history2_adjusted.binning_table.build()
print("Optimal binning for History (Subset 2):")
print(binning_table_history2_adjusted)

Optimal binning for History (Subset 2):
              Bin  Count  Count (%)  Non-event  Event  Event rate       WoE  \
0       [4, 2, 1]    251   0.896429        228     23    0.091633  0.246159
1          [3, 0]     29   0.103571         20      9    0.310345 -1.249185
2         Special      0   0.000000          0      0    0.000000       0.0
3         Missing      0   0.000000          0      0    0.000000       0.0
Totals               280   1.000000        248     32    0.114286

              IV        JS
0       0.049381  0.006157
1       0.250593  0.029434
2       0.000000  0.000000
3       0.000000  0.000000
Totals  0.299973  0.035591

### Binning: Amount

In [ ]:
# Optimal binning for Amount
optb_amount = OptimalBinning(name='Amount', dtype='numerical', solver='cp')
optb_amount.fit(X2_train['Amount'], y2_train)
binning_table_amount = optb_amount.binning_table.build()
print("Optimal binning for Amount (Subset 2):")
print(binning_table_amount)

Optimal binning for Amount (Subset 2):
                       Bin  Count  Count (%)  Non-event  Event  Event rate  \
0           (-inf, 953.50)     33   0.117857         28      5    0.151515
1        [953.50, 1561.50)     72   0.257143         63      9    0.125000
2       [1561.50, 2803.00)     89   0.317857         79     10    0.112360
3       [2803.00, 4152.00)     54   0.192857         53      1    0.018519
4           [4152.00, inf)     32   0.114286         25      7    0.218750
5                  Special      0   0.000000          0      0    0.000000
6                  Missing      0   0.000000          0      0    0.000000
Totals                        280   1.000000        248     32    0.114286

             WoE        IV        JS
0      -0.324926  0.014085  0.001753
1      -0.101783  0.002770  0.000346
2        0.01917  0.000116  0.000014
3       1.922599  0.350797  0.038140
4      -0.774727  0.091374  0.011144
5            0.0  0.000000  0.000000
6            0.0  0.000000  0.000000
Totals            0.459142  0.051398

#### Customized Binning

In [ ]:
# Optimal binning for Amount
optb_amount_adjusted = OptimalBinning(name='Amount', dtype='numerical', solver='cp', max_n_bins=3)
optb_amount_adjusted.fit(X2_train['Amount'], y2_train)
binning_table_amount_adjusted = optb_amount_adjusted.binning_table.build()
print("Optimal binning for Amount (Subset 2):")
print(binning_table_amount_adjusted)

Optimal binning for Amount (Subset 2):
                       Bin  Count  Count (%)  Non-event  Event  Event rate  \
0          (-inf, 2803.00)    194   0.692857        170     24    0.123711
1       [2803.00, 4152.00)     54   0.192857         53      1    0.018519
2           [4152.00, inf)     32   0.114286         25      7    0.218750
3                  Special      0   0.000000          0      0    0.000000
4                  Missing      0   0.000000          0      0    0.000000
Totals                        280   1.000000        248     32    0.114286

             WoE        IV        JS
0      -0.089948  0.005803  0.000725
1       1.922599  0.350797  0.038140
2      -0.774727  0.091374  0.011144
3            0.0  0.000000  0.000000
4            0.0  0.000000  0.000000
Totals            0.447974  0.050010

### Binning: Purpose

In [ ]:
# Optimal binning for Purpose
optb_purpose = OptimalBinning(name='Purpose', dtype='categorical', solver='cp')
optb_purpose.fit(X2_train['Purpose'], y2_train)
binning_table_purpose = optb_purpose.binning_table.build()
print("Optimal binning for Purpose:")
print(binning_table_purpose)

Optimal binning for Purpose:
                 Bin  Count  Count (%)  Non-event  Event  Event rate  \
0       [1, 4, 8, 3]    132   0.471429        123      9    0.068182
1                [2]     44   0.157143         39      5    0.113636
2                [6]     14   0.050000         12      2    0.142857
3                [0]     61   0.217857         51     10    0.163934
4             [9, 5]     29   0.103571         23      6    0.206897
5            Special      0   0.000000          0      0    0.000000
6            Missing      0   0.000000          0      0    0.000000
Totals                  280   1.000000        248     32    0.114286

             WoE        IV            JS
0       0.567267  0.121802  1.502437e-02
1       0.006431  0.000006  8.103426e-07
2      -0.255933  0.003612  4.502671e-04
3      -0.418452  0.044714  5.548782e-03
4      -0.703958  0.066706  8.170200e-03
5            0.0  0.000000  0.000000e+00
6            0.0  0.000000  0.000000e+00
Totals            0.236840  2.919443e-02

#### Customized Binning

In [ ]:
# Optimal binning for Purpose
optb_purpose_adjusted = OptimalBinning(name='Purpose', dtype='categorical', solver='cp', max_n_bins=4)
optb_purpose_adjusted.fit(X2_train['Purpose'], y2_train)
binning_table_purpose_adjusted = optb_purpose_adjusted.binning_table.build()
print("Optimal binning for Purpose:")
print(binning_table_purpose_adjusted)

Optimal binning for Purpose:
                 Bin  Count  Count (%)  Non-event  Event  Event rate  \
0       [1, 4, 8, 3]    132   0.471429        123      9    0.068182
1                [2]     44   0.157143         39      5    0.113636
2             [6, 0]     75   0.267857         63     12    0.160000
3             [9, 5]     29   0.103571         23      6    0.206897
4            Special      0   0.000000          0      0    0.000000
5            Missing      0   0.000000          0      0    0.000000
Totals                  280   1.000000        248     32    0.114286

             WoE        IV            JS
0       0.567267  0.121802  1.502437e-02
1       0.006431  0.000006  8.103426e-07
2      -0.389465  0.047113  5.852144e-03
3      -0.703958  0.066706  8.170200e-03
4            0.0  0.000000  0.000000e+00
5            0.0  0.000000  0.000000e+00
Totals            0.235627  2.904753e-02

### Transform and Encode Training Set

In [ ]:
# Transform the original variables into their binned categories
X2_train_transformed = X2_train.copy()
X2_train_transformed['History'] = optb_history2.transform(X2_train_transformed['History'], metric='bins')
X2_train_transformed['Purpose'] = optb_purpose_adjusted.transform(X2_train_transformed['Purpose'], metric='bins')
X2_train_transformed['Amount'] = optb_amount_adjusted.transform(X2_train_transformed['Amount'], metric='bins')
X2_train_transformed['Duration'] = optb_duration2_adjusted.transform(X2_train_transformed['Duration'], metric='bins')



# Ordinal Encoding

# Obtain the bin labels for the binned Duration variable from the binning table
bin_labels = binning_table_duration2_adjusted['Bin'].tolist()
# Create an instance of the OrdinalEncoder with categories set to the sorted bin labels
encoder2 = OrdinalEncoder(categories=[bin_labels], dtype=int)
# Encode the Duration variable in the X1_train_transformed dataframe using the OrdinalEncoder
X2_train_transformed['Duration'] = encoder2.fit_transform(X2_train_transformed[['Duration']])



# Obtain the bin labels for the binned Duration variable from the binning table
bin_labels = binning_table_amount_adjusted['Bin'].tolist()
# Create an instance of the OrdinalEncoder with categories set to the sorted bin labels
encoder2 = OrdinalEncoder(categories=[bin_labels], dtype=int)
# Encode the Duration variable in the X1_train_transformed dataframe using the OrdinalEncoder
X2_train_transformed['Amount'] = encoder2.fit_transform(X2_train_transformed[['Amount']])




# One-hot Encoding
from sklearn.preprocessing import OneHotEncoder

# Instantiate the OneHotEncoder, specify the columns to encode, and set the drop parameter to 'first'
encoder = OneHotEncoder(sparse=False, drop='first')
X2_train_encoded = encoder.fit_transform(X2_train_transformed[['History', 'Purpose']])

# Create a DataFrame with the encoded columns and their respective names
encoded_columns = encoder.get_feature_names_out(['History', 'Purpose'])
X2_train_encoded_df = pd.DataFrame(X2_train_encoded, columns=encoded_columns, index=X2_train_transformed.index)

# Drop the original 'History', 'Purpose', and 'Foreign' columns and concatenate the encoded DataFrame
X2_train_transformed.drop(['History', 'Purpose'], axis=1, inplace=True)
X2_train_transformed = pd.concat([X2_train_transformed, X2_train_encoded_df], axis=1)

# Select the desired columns from X2_train_transformed
selected_columns = ['History_[3 0]', 'History_[4]', 'Purpose_[2]', 'Purpose_[6 0]', 'Purpose_[9 5]', 'Duration', 'Amount']
X2_train_transformed = X2_train_transformed[selected_columns]

### Transform and Encode Validation Set

In [ ]:
# Transform the original variables into their binned categories
X2_val_transformed = X2_val.copy()
X2_val_transformed['History'] = optb_history2.transform(X2_val_transformed['History'], metric='bins')
X2_val_transformed['Purpose'] = optb_purpose_adjusted.transform(X2_val_transformed['Purpose'], metric='bins')
X2_val_transformed['Duration'] = optb_duration2_adjusted.transform(X2_val_transformed['Duration'], metric='bins')
X2_val_transformed['Amount'] = optb_amount_adjusted.transform(X2_val_transformed['Amount'], metric='bins')




# Ordinal Encoding

# Obtain the bin labels for the binned Duration variable from the binning table
bin_labels = binning_table_duration2_adjusted['Bin'].tolist()
# Create an instance of the OrdinalEncoder with categories set to the sorted bin labels
encoder2 = OrdinalEncoder(categories=[bin_labels], dtype=int)
# Encode the Duration variable in the X1_train_transformed dataframe using the OrdinalEncoder
X2_val_transformed['Duration'] = encoder2.fit_transform(X2_val_transformed[['Duration']])



# Obtain the bin labels for the binned Duration variable from the binning table
bin_labels = binning_table_amount_adjusted['Bin'].tolist()
# Create an instance of the OrdinalEncoder with categories set to the sorted bin labels
encoder2 = OrdinalEncoder(categories=[bin_labels], dtype=int)
# Encode the Duration variable in the X1_train_transformed dataframe using the OrdinalEncoder
X2_val_transformed['Amount'] = encoder2.fit_transform(X2_val_transformed[['Amount']])


# One-hot Encoding
from sklearn.preprocessing import OneHotEncoder

# Instantiate the OneHotEncoder, specify the columns to encode, and set the drop parameter to 'first'
encoder = OneHotEncoder(sparse=False, drop='first')
X2_val_encoded = encoder.fit_transform(X2_val_transformed[['History', 'Purpose']])

# Create a DataFrame with the encoded columns and their respective names
encoded_columns = encoder.get_feature_names_out(['History', 'Purpose'])
X2_val_encoded_df = pd.DataFrame(X2_val_encoded, columns=encoded_columns, index=X2_val_transformed.index)

# Drop the original 'History', 'Purpose', and 'Foreign' columns and concatenate the encoded DataFrame
X2_val_transformed.drop(['History', 'Purpose'], axis=1, inplace=True)
X2_val_transformed = pd.concat([X2_val_transformed, X2_val_encoded_df], axis=1)

# Select the desired columns from X2_val_transformed
X2_val_transformed = X2_val_transformed[selected_columns]

X2_val_transformed

### Binary variables Subset 2

In [ ]:
X2_train_transformed

,History_[3 0],History_[4],Purpose_[2],Purpose_[6 0],Purpose_[9 5],Duration,Amount
231,0.0,0.0,0.0,1.0,0.0,1,0
190,0.0,0.0,0.0,0.0,1.0,3,2
232,0.0,0.0,0.0,0.0,0.0,1,0
786,0.0,0.0,0.0,0.0,0.0,3,0
314,0.0,0.0,0.0,1.0,0.0,0,0
...,...,...,...,...,...,...,...
263,0.0,1.0,0.0,1.0,0.0,1,0
660,0.0,0.0,0.0,0.0,0.0,1,0
210,0.0,1.0,0.0,0.0,0.0,1,1
990,0.0,1.0,0.0,1.0,0.0,1,1
469,1.0,0.0,0.0,0.0,0.0,3,2

# Q4) Model implementation

In [ ]:
from sklearn.linear_model import LinearRegression, LogisticRegression

# Split the transformed training set into the feature matrix (X) and target vector (y)
X_train1 = X1_train_transformed
y_train1 = y1_train

# Train a linear regression model for Checking = 1 or 2
linear_model1 = LinearRegression()
linear_model1.fit(X_train1, y_train1)

# Train a logistic regression model for Checking = 1 or 2
logistic_model1 = LogisticRegression(max_iter=1000)
logistic_model1.fit(X_train1, y_train1)


# Split the transformed training set into the feature matrix (X) and target vector (y)
X_train2 = X2_train_transformed
y_train2 = y2_train

# Train a linear regression model for Checking = 3 or 4
linear_model2 = LinearRegression()
linear_model2.fit(X_train2, y_train2)

# Train a logistic regression model for Checking = 3 or 4
logistic_model2 = LogisticRegression(max_iter=1000)
logistic_model2.fit(X_train2, y_train2)

LogisticRegression(max_iter=1000)

### Coefficents

In [ ]:
def display_coefficients(model, feature_names, model_name, dataset_name):
    coef = model.coef_
    intercept = model.intercept_
    print(f"Model: {model_name} - {dataset_name}")
    print("Intercept:", intercept)
    print("Coefficients:")
    if len(coef.shape) == 2:
        coef = coef.flatten()
    for feature, coeff in zip(feature_names, coef):
        print(f"{feature}: {coeff}")
    print("\n")


# Display coefficients for all models
display_coefficients(linear_model1, X1_train_transformed.columns, "Linear Regression", "Checking = 1 or 2")
display_coefficients(logistic_model1, X1_train_transformed.columns, "Logistic Regression", "Checking = 1 or 2")
display_coefficients(linear_model2, X2_train_transformed.columns, "Linear Regression", "Checking = 3 or 4")
display_coefficients(logistic_model2, X2_train_transformed.columns, "Logistic Regression", "Checking = 3 or 4")

Model: Linear Regression - Checking = 1 or 2
Intercept: 0.3591633723403901
Coefficients:
History_[1]: 0.006072493418712775
History_[2]: -0.1612201612875368
History_[3]: -0.24001529547002642
History_[4]: -0.3425250588515163
Property_[3 2]: 0.11044157061144544
Property_[4]: 0.21635410752524742
Duration: 0.08912687111327311
Age: -0.01697970183041357


Model: Logistic Regression - Checking = 1 or 2
Intercept: [-1.06911445]
Coefficients:
History_[1]: 0.3641174172701093
History_[2]: -0.3178785900685967
History_[3]: -0.5914775410846044
History_[4]: -1.1468535144273795
Property_[3 2]: 0.4641011673229343
Property_[4]: 0.8709754236222877
Duration: 0.44101727461791385
Age: -0.08779297549529017


Model: Linear Regression - Checking = 3 or 4
Intercept: 0.047438761341134214
Coefficients:
History_[3 0]: 0.18282654551665628
History_[4]: -0.065717289663977
Purpose_[2]: 0.048480317592384053
Purpose_[6 0]: 0.10145717106573528
Purpose_[9 5]: 0.06942370203986799
Duration: 0.017447480326388636
Amount: -0.0010443270399388901


Model: Logistic Regression - Checking = 3 or 4
Intercept: [-2.62910557]
Coefficients:
History_[3 0]: 0.9846737794542854
History_[4]: -0.7540548498542532
Purpose_[2]: 0.33369614789284796
Purpose_[6 0]: 0.7994972043335203
Purpose_[9 5]: 0.4935544253195002
Duration: 0.15561495756397017
Amount: 0.011007869672980307

# Q5) Performance Evaluation - ROC, GINI, KS

In [ ]:
import numpy as np
from sklearn.metrics import roc_curve, roc_auc_score, confusion_matrix, auc
import numpy as np
from scipy.special import expit

# Define a function to transform linear regression output to probabilities using the sigmoid function
def lr_to_proba(y_pred):
    return expit(y_pred)

def calc_gini(auc_score):
    return (2 * auc_score) - 1

def calc_ks(y_true, y_pred_prob):
    fpr, tpr, thresholds = roc_curve(y_true, y_pred_prob)
    return np.max(tpr - fpr)

# Train and obtain predicted probabilities for the validation set
# Use models trained in previous steps
y1_pred_lr = linear_model1.predict(X1_val_transformed)
y1_pred_prob_lr = lr_to_proba(y1_pred_lr)
y1_pred_prob_logreg = logistic_model1.predict_proba(X1_val_transformed)[:, 1]
y2_pred_lr = linear_model2.predict(X2_val_transformed)
y2_pred_prob_lr = lr_to_proba(y2_pred_lr)
y2_pred_prob_logreg = logistic_model2.predict_proba(X2_val_transformed)[:, 1]

# Calculate the sensitivity, specificity, and thresholds for each scorecard
fpr1_lr, tpr1_lr, thresholds1_lr = roc_curve(y1_val, y1_pred_prob_lr)
fpr1_logreg, tpr1_logreg, thresholds1_logreg = roc_curve(y1_val, y1_pred_prob_logreg)
fpr2_lr, tpr2_lr, thresholds2_lr = roc_curve(y2_val, y2_pred_prob_lr)
fpr2_logreg, tpr2_logreg, thresholds2_logreg = roc_curve(y2_val, y2_pred_prob_logreg)

# Plot the ROC curves for each scorecard
plt.figure()
plt.plot(fpr1_lr, tpr1_lr, label="Linear Regression - Checking = 1 or 2")
plt.plot(fpr1_logreg, tpr1_logreg, label="Logistic Regression - Checking = 1 or 2")
plt.plot(fpr2_lr, tpr2_lr, label="Linear Regression - Checking = 3 or 4")
plt.plot(fpr2_logreg, tpr2_logreg, label="Logistic Regression - Checking = 3 or 4")
plt.plot([0, 1], [0, 1], linestyle="--")
plt.xlabel("False Positive Rate")
plt.ylabel("True Positive Rate")
plt.title("ROC Curves")
plt.legend()
plt.show()

# Calculate the AUC, Gini coefficient, and KS values for each scorecard
auc1_lr = roc_auc_score(y1_val, y1_pred_prob_lr)
auc1_logreg = roc_auc_score(y1_val, y1_pred_prob_logreg)
auc2_lr = roc_auc_score(y2_val, y2_pred_prob_lr)
auc2_logreg = roc_auc_score(y2_val, y2_pred_prob_logreg)

gini1_lr = calc_gini(auc1_lr)
gini1_logreg = calc_gini(auc1_logreg)
gini2_lr = calc_gini(auc2_lr)
gini2_logreg = calc_gini(auc2_logreg)

ks1_lr = calc_ks(y1_val, y1_pred_prob_lr)
ks1_logreg = calc_ks(y1_val, y1_pred_prob_logreg)
ks2_lr = calc_ks(y2_val, y2_pred_prob_lr)
ks2_logreg = calc_ks(y2_val, y2_pred_prob_logreg)

# Print the AUC, Gini coefficient, and KS values for each scorecard
print("Linear Regression - Checking = 1 or 2")
print("AUC:", auc1_lr)
print("Gini Coefficient:", gini1_lr)
print("KS:", ks1_lr)
print("\nLogistic Regression - Checking = 1 or 2")
print("AUC:", auc1_logreg)
print("Gini Coefficient:", gini1_logreg)
print("KS:", ks1_logreg)
print("\nLinear Regression - Checking = 3 or 4")
print("AUC:", auc2_lr)
print("Gini Coefficient:", gini2_lr)
print("KS:", ks2_lr)
print("\nLogistic Regression - Checking = 3 or 4")
print("AUC:", auc2_logreg)
print("Gini Coefficient:", gini2_logreg)
print("KS:", ks2_logreg)

In [ ]:
import matplotlib.pyplot as plt


fig, (ax1, ax2) = plt.subplots(1, 2, figsize=(12, 6))

# Plot the ROC curves for Checking = 1 or 2
ax1.plot(fpr1_lr, tpr1_lr, label="Linear Regression")
ax1.plot(fpr1_logreg, tpr1_logreg, label="Logistic Regression")
ax1.plot([0, 1], [0, 1], linestyle="--")
ax1.set_xlabel("False Positive Rate")
ax1.set_ylabel("True Positive Rate")
ax1.set_title("ROC Curves - Checking = 1 or 2")
ax1.legend()

# Plot the ROC curves for Checking = 3 or 4
ax2.plot(fpr2_lr, tpr2_lr, label="Linear Regression")
ax2.plot(fpr2_logreg, tpr2_logreg, label="Logistic Regression")
ax2.plot([0, 1], [0, 1], linestyle="--")
ax2.set_xlabel("False Positive Rate")
ax2.set_ylabel("True Positive Rate")
ax2.set_title("ROC Curves - Checking = 3 or 4")
ax2.legend()

plt.show()